

#intro {
	border: 7px solid #F2C329;
	display: block;
	margin-top: 7%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #C93D22
}

p {
	margin: 20px;
	font-family: 'Ceviche One', cursive;
	font-size: 30px;
}

span {
	color: #F2C329;
}

.play {
	position: absolute;
	text-align: center;
	display: block;
	font-family: 'Shojumaru', cursive;
	background-color: #FFF35B;
	font-size: 50px;
	margin-left: 40%;
	margin-right: 40%;
	padding: 10px;
	border-radius: 50%;
	margin-top: 5%;
	color: black;
}

.play:hover {
	color: #C93D22;
}

/*#dragonRight {
	position: absolute;
	margin-left: 1350px;
	animation-name: flyToLeft;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-delay: 8s;
}*/

#dragonLeft {
	margin-left: -450px;
	animation-name: flyToRight;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}

@keyframes flyToRight {
	from{ transform: translateX(-450px); }
	to{ transform: translateX(1800px); }
}

@keyframes flyToLeft {
	from{ transform: translateX(1800px); }
	to{ transform: translateX(-700px); }
}

/*----- game html ----------*/
.winAlert {
	display: none;
	position: absolute;
	border: 7px solid #F2C329;
	background-color: #C93D22;
	font-family: 'Shojumaru', cursive;
	text-align: center;
	padding: 20px;
	z-index: 100;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 36px;
	margin-top: 3%;
}

.loseAlert {
	display: none;
	position: absolute;
	border: 7px solid #F2C329;
	background-color: #C93D22;
	font-family: 'Shojumaru', cursive;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	z-index: 100;
	font-size: 36px;
	margin-top: 3%;
}

li {
	list-style-type: none;
	font-family: 'Shojumaru', cursive;
	color: #FFF35B;
	font-size: 20px;
	padding: 2px;
}

a:hover {
	text-decoration: none;
	color: #FFF35B;
}

#list {
	position: absolute;
	margin-top: 5%;
}

#greenTea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#orientalSkies {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.table-background {
	display: block;
	margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 450px;
  margin-top: 40px;
}

.backgroundImage {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/Other-background.jpeg");
	height: 685px;
	width: 100%;
}

.btn-warning {
	background-color: #FFF35B;
}

.buttons {
	position: relative;
	text-align: center;
	font-family: 'Shojumaru', cursive;
}

#instructionsBtn {
	margin-left: 50px;
}

#start {
	margin-left: 50px;
	text-align: center;
}

#reset {
	margin-left: 50px;
}

.matched {
	transition: 1s;
	transform: rotate(360deg);
}

#box {
	color: black;
}

h1 {
	color: #FFF35B;
	text-align: center;
	font-family: 'Shojumaru', cursive;
	font-size: 70px;
	margin-top: 20px;

}

.container {
	position: relative;
}

.yinYang {
	position: absolute;
	width: 85px;
	height: 85px;
}

.asianPic {
	position: absolute;
	width: 85px;
	height: 85px;
}

#column1Card1 {
	margin-left: 20%;
	margin-top: 3%;
}

#column1Card2 {
	margin-left: 20%;
	margin-top: 12%;
}

#column1Card3 {
	margin-left: 20%;
	margin-top: 21%;
}

#column1Card4 {
	margin-left: 20%;
	margin-top: 30%;
}

#column2Card1 {
	margin-left: 30%;
	margin-top: 3%;
}

#column2Card2 {
	margin-left: 30%;
	margin-top: 12%;
}

#column2Card3 {
	margin-left: 30%;
	margin-top: 21%;
}

#column2Card4 {
	margin-left: 30%;
	margin-top: 30%;
}

#column3Card1 {
	margin-left: 40%;
	margin-top: 3%;
}

#column3Card2 {
	margin-left: 40%;
	margin-top: 12%;
}

#column3Card3 {
	margin-left: 40%;
	margin-top: 21%;
}

#column3Card4 {
	margin-left: 40%;
	margin-top: 30%;
}

#column4Card1 {
	margin-left: 50%;
	margin-top: 3%;
}

#column4Card2 {
	margin-left: 50%;
	margin-top: 12%;
}

#column4Card3 {
	margin-left: 50%;
	margin-top: 21%;
}

#column4Card4 {
	margin-left: 50%;
	margin-top: 30%;
}

#column5Card1 {
	margin-left: 60%;
	margin-top: 3%;
}

#column5Card2 {
	margin-left: 60%;
	margin-top: 12%;
}

#column5Card3 {
	margin-left: 60%;
	margin-top: 21%;
}

#column5Card4 {
	margin-left: 60%;
	margin-top: 30%;
}
#column6Card1 {
	margin-left: 70%;
	margin-top: 3%;
}

#column6Card2 {
	margin-left: 70%;
	margin-top: 12%;
}

#column6Card3 {
	margin-left: 70%;
	margin-top: 21%;
}

#column6Card4 {
	margin-left: 70%;
	margin-top: 30%;
}

#row1Card1 {
	margin-left: 20%;
	margin-top: 3%;
	display: none;
}

#row1Card2 {
	margin-left: 30%;
	margin-top: 3%;
	display: none;
}

#row1Card3 {
	margin-left: 40%;
	margin-top: 3%;
	display: none;
}

#row1Card4 {
	margin-left: 50%;
	margin-top: 3%;
	display: none;
}

#row1Card5 {
	margin-left: 60%;
	margin-top: 3%;
	display: none;
}

#row1Card6 {
	margin-left: 70%;
	margin-top: 3%;
	display: none;
}

#row2Card1 {
	margin-left: 20%;
	margin-top: 12%;
	display: none;
}

#row2Card2 {
	margin-left: 30%;
	margin-top: 12%;
	display: none;
}

#row2Card3 {
	margin-left: 40%;
	margin-top: 12%;
	display: none;
}

#row2Card4 {
	margin-left: 50%;
	margin-top: 12%;
	display: none;
}

#row2Card5 {
	margin-left: 60%;
	margin-top: 12%;
	display: none;
}

#row2Card6 {
	margin-left: 70%;
	margin-top: 12%;
	display: none;
}

#row3Card1 {
	margin-left: 20%;
	margin-top: 21%;
	display: none;
}

#row3Card2 {
	margin-left: 30%;
	margin-top: 21%;
	display: none;
}

#row3Card3 {
	margin-left: 40%;
	margin-top: 21%;
	display: none;
}

#row3Card4 {
	margin-left: 50%;
	margin-top: 21%;
	display: none;
}

#row3Card5 {
	margin-left: 60%;
	margin-top: 21%;
	display: none;
}

#row3Card6 {
	margin-left: 70%;
	margin-top: 21%;
	display: none;
}

#row4Card1 {
	margin-left: 20%;
	margin-top: 30%;
	display: none;
}

#row4Card2 {
	margin-left: 30%;
	margin-top: 30%;
	display: none;
}

#row4Card3 {
	margin-left: 40%;
	margin-top: 30%;
	display: none;
}

#row4Card4 {
	margin-left: 50%;
	margin-top: 30%;
	display: none;
}

#row4Card5 {
	margin-left: 60%;
	margin-top: 30%;
	display: none;
}

#row4Card6 {
	margin-left: 70%;
	margin-top: 30%;
	display: none;
}

